<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{appName}} / {{title}}</title>
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body data-theme="dark">
        <header>
            <nav>
                <a href="/" class="logo">{{appName}}</a>
                <div class="nav-links">
                    <a href="/browse" {{#isBrowsing}} class="active" {{/isBrowsing}} >[files]</a>
                    {{#isAdmin}}<a href="/admin" {{#isOnAdmin}} class="active" {{/isOnAdmin}} >[admin]</a>{{/isAdmin}}
                    <a href="#" onclick="toggleTheme()" id="theme-toggle">[theme:dark]</a>
                </div>
            </nav>
        </header>
        <main>
            {{content}}
        </main>
        {{#showFooter}}
        <footer>
            {{#showCredits}}<p>[Served with <a href="https://github.com/gamecrash534/Verteiler">Verteiler</a>]</p>{{/showCredits}}

        </footer>
        {{/showFooter}}
        {{#scripts}}
        <script>{{scripts}}</script>
        {{/scripts}}
        <script src="/assets/js/app.js"></script>
    </body>
</html>

